@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    line-height: 100%;

    font-family: "Inter", sans-serif;
    color: #000000;
    background-color: #FFFCB0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100vh;
    background-color: #B0C6FF;
}

.container {
    max-inline-size: 1110px;
    margin-inline: auto;
    padding-inline: 15px;
}

.box {
    padding-block-start: 30px;
    padding-block-end: 15px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    color: #FFFFFF;
    margin-block-end: 48px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 90px;
}

.list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-inline-size: 250px;
    padding-block: 10px;
    padding-inline: 17px;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

.img__wrapper {
    margin-block-end: 10px;
}

.sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    margin-block-end: 15px;
}

.discription {
    text-align: center;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
    margin-block-end: 25px;
}

.btn {
    padding-inline: 48px;
    padding-block: 13px;
    background-color: #6177EB;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    margin-block-end: 10px;
}