$main-color: #2b2b2b;
$background-color_1: #3b3b3b;
$background-color_2: #a259ff;
$main-color-text: #ffffff;
$text-color_1: #cccccc;
$text-color_2: #858584;
$border: 2px solid $background-color_2;
$input-border: 1px solid $text-color_2;
$border-radius: 20px;
$space-mono_font: "Space Mono", monospace;
$work-sans_font: "Work Sans", sans-serif;